<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yycg.business.dao.mapper.YycgdmxMapper" >
  <resultMap id="BaseResultMap" type="yycg.business.pojo.po.Yycgdmx" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="yycgdid" property="yycgdid" jdbcType="VARCHAR" />
    <result column="ypxxid" property="ypxxid" jdbcType="VARCHAR" />
    <result column="usergysid" property="usergysid" jdbcType="VARCHAR" />
    <result column="zbjg" property="zbjg" jdbcType="REAL" />
    <result column="jyjg" property="jyjg" jdbcType="REAL" />
    <result column="cgl" property="cgl" jdbcType="INTEGER" />
    <result column="cgje" property="cgje" jdbcType="REAL" />
    <result column="cgzt" property="cgzt" jdbcType="CHAR" />
    <result column="vchar1" property="vchar1" jdbcType="VARCHAR" />
    <result column="vchar2" property="vchar2" jdbcType="VARCHAR" />
    <result column="vchar3" property="vchar3" jdbcType="VARCHAR" />
    <result column="vchar4" property="vchar4" jdbcType="VARCHAR" />
    <result column="vchar5" property="vchar5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, yycgdid, ypxxid, usergysid, zbjg, jyjg, cgl, cgje, cgzt, vchar1, vchar2, vchar3, 
    vchar4, vchar5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="yycg.business.pojo.po.YycgdmxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Yycgdmx${businessyear}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Yycgdmx${businessyear}
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Yycgdmx${businessyear}
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="yycg.business.pojo.po.YycgdmxExample" >
    delete from Yycgdmx${businessyear}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="yycg.business.pojo.po.Yycgdmx" >
    insert into Yycgdmx${businessyear} (id, yycgdid, ypxxid, 
      usergysid, zbjg, jyjg, cgl, 
      cgje, cgzt, vchar1, vchar2, 
      vchar3, vchar4, vchar5
      )
    values (#{id,jdbcType=VARCHAR}, #{yycgdid,jdbcType=VARCHAR}, #{ypxxid,jdbcType=VARCHAR}, 
      #{usergysid,jdbcType=VARCHAR}, #{zbjg,jdbcType=REAL}, #{jyjg,jdbcType=REAL}, #{cgl,jdbcType=INTEGER}, 
      #{cgje,jdbcType=REAL}, #{cgzt,jdbcType=CHAR}, #{vchar1,jdbcType=VARCHAR}, #{vchar2,jdbcType=VARCHAR}, 
      #{vchar3,jdbcType=VARCHAR}, #{vchar4,jdbcType=VARCHAR}, #{vchar5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="yycg.business.pojo.po.Yycgdmx" >
    insert into Yycgdmx${businessyear}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="yycgdid != null" >
        yycgdid,
      </if>
      <if test="ypxxid != null" >
        ypxxid,
      </if>
      <if test="usergysid != null" >
        usergysid,
      </if>
      <if test="zbjg != null" >
        zbjg,
      </if>
      <if test="jyjg != null" >
        jyjg,
      </if>
      <if test="cgl != null" >
        cgl,
      </if>
      <if test="cgje != null" >
        cgje,
      </if>
      <if test="cgzt != null" >
        cgzt,
      </if>
      <if test="vchar1 != null" >
        vchar1,
      </if>
      <if test="vchar2 != null" >
        vchar2,
      </if>
      <if test="vchar3 != null" >
        vchar3,
      </if>
      <if test="vchar4 != null" >
        vchar4,
      </if>
      <if test="vchar5 != null" >
        vchar5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="yycgdid != null" >
        #{yycgdid,jdbcType=VARCHAR},
      </if>
      <if test="ypxxid != null" >
        #{ypxxid,jdbcType=VARCHAR},
      </if>
      <if test="usergysid != null" >
        #{usergysid,jdbcType=VARCHAR},
      </if>
      <if test="zbjg != null" >
        #{zbjg,jdbcType=REAL},
      </if>
      <if test="jyjg != null" >
        #{jyjg,jdbcType=REAL},
      </if>
      <if test="cgl != null" >
        #{cgl,jdbcType=INTEGER},
      </if>
      <if test="cgje != null" >
        #{cgje,jdbcType=REAL},
      </if>
      <if test="cgzt != null" >
        #{cgzt,jdbcType=CHAR},
      </if>
      <if test="vchar1 != null" >
        #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="vchar5 != null" >
        #{vchar5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="yycg.business.pojo.po.YycgdmxExample" resultType="java.lang.Integer" >
    select count(*) from Yycgdmx${businessyear}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Yycgdmx${businessyear}
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.yycgdid != null" >
        yycgdid = #{record.yycgdid,jdbcType=VARCHAR},
      </if>
      <if test="record.ypxxid != null" >
        ypxxid = #{record.ypxxid,jdbcType=VARCHAR},
      </if>
      <if test="record.usergysid != null" >
        usergysid = #{record.usergysid,jdbcType=VARCHAR},
      </if>
      <if test="record.zbjg != null" >
        zbjg = #{record.zbjg,jdbcType=REAL},
      </if>
      <if test="record.jyjg != null" >
        jyjg = #{record.jyjg,jdbcType=REAL},
      </if>
      <if test="record.cgl != null" >
        cgl = #{record.cgl,jdbcType=INTEGER},
      </if>
      <if test="record.cgje != null" >
        cgje = #{record.cgje,jdbcType=REAL},
      </if>
      <if test="record.cgzt != null" >
        cgzt = #{record.cgzt,jdbcType=CHAR},
      </if>
      <if test="record.vchar1 != null" >
        vchar1 = #{record.vchar1,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar2 != null" >
        vchar2 = #{record.vchar2,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar3 != null" >
        vchar3 = #{record.vchar3,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar4 != null" >
        vchar4 = #{record.vchar4,jdbcType=VARCHAR},
      </if>
      <if test="record.vchar5 != null" >
        vchar5 = #{record.vchar5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Yycgdmx${businessyear}
    set id = #{record.id,jdbcType=VARCHAR},
      yycgdid = #{record.yycgdid,jdbcType=VARCHAR},
      ypxxid = #{record.ypxxid,jdbcType=VARCHAR},
      usergysid = #{record.usergysid,jdbcType=VARCHAR},
      zbjg = #{record.zbjg,jdbcType=REAL},
      jyjg = #{record.jyjg,jdbcType=REAL},
      cgl = #{record.cgl,jdbcType=INTEGER},
      cgje = #{record.cgje,jdbcType=REAL},
      cgzt = #{record.cgzt,jdbcType=CHAR},
      vchar1 = #{record.vchar1,jdbcType=VARCHAR},
      vchar2 = #{record.vchar2,jdbcType=VARCHAR},
      vchar3 = #{record.vchar3,jdbcType=VARCHAR},
      vchar4 = #{record.vchar4,jdbcType=VARCHAR},
      vchar5 = #{record.vchar5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="yycg.business.pojo.po.Yycgdmx" >
    update Yycgdmx${businessyear}
    <set >
      <if test="yycgdid != null" >
        yycgdid = #{yycgdid,jdbcType=VARCHAR},
      </if>
      <if test="ypxxid != null" >
        ypxxid = #{ypxxid,jdbcType=VARCHAR},
      </if>
      <if test="usergysid != null" >
        usergysid = #{usergysid,jdbcType=VARCHAR},
      </if>
      <if test="zbjg != null" >
        zbjg = #{zbjg,jdbcType=REAL},
      </if>
      <if test="jyjg != null" >
        jyjg = #{jyjg,jdbcType=REAL},
      </if>
      <if test="cgl != null" >
        cgl = #{cgl,jdbcType=INTEGER},
      </if>
      <if test="cgje != null" >
        cgje = #{cgje,jdbcType=REAL},
      </if>
      <if test="cgzt != null" >
        cgzt = #{cgzt,jdbcType=CHAR},
      </if>
      <if test="vchar1 != null" >
        vchar1 = #{vchar1,jdbcType=VARCHAR},
      </if>
      <if test="vchar2 != null" >
        vchar2 = #{vchar2,jdbcType=VARCHAR},
      </if>
      <if test="vchar3 != null" >
        vchar3 = #{vchar3,jdbcType=VARCHAR},
      </if>
      <if test="vchar4 != null" >
        vchar4 = #{vchar4,jdbcType=VARCHAR},
      </if>
      <if test="vchar5 != null" >
        vchar5 = #{vchar5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yycg.business.pojo.po.Yycgdmx" >
    update Yycgdmx${businessyear}
    set yycgdid = #{yycgdid,jdbcType=VARCHAR},
      ypxxid = #{ypxxid,jdbcType=VARCHAR},
      usergysid = #{usergysid,jdbcType=VARCHAR},
      zbjg = #{zbjg,jdbcType=REAL},
      jyjg = #{jyjg,jdbcType=REAL},
      cgl = #{cgl,jdbcType=INTEGER},
      cgje = #{cgje,jdbcType=REAL},
      cgzt = #{cgzt,jdbcType=CHAR},
      vchar1 = #{vchar1,jdbcType=VARCHAR},
      vchar2 = #{vchar2,jdbcType=VARCHAR},
      vchar3 = #{vchar3,jdbcType=VARCHAR},
      vchar4 = #{vchar4,jdbcType=VARCHAR},
      vchar5 = #{vchar5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>